$font-primary: #363636;
$font-secondary: #707070;
$color-primary: #0FADF6;
$color-secondary: #D5E8FE;
$color-success: #66BB6A;
$color-warn: #ff8a65;
$color-error: #ef5350;
$color-accent: #5467FF;
$color-dark: #2b303b;
$color-white: #FFFFFF;
// $color-accent : #f7c16c;
$color-disabled: #d8d8d8;
$header: 24px;
$subheader: 18px;
$highlight: 12px;
$body: 13px;
$small: 10px;