<!-- <ng-container *ngIf="!(loading$ | async)"> -->
<div class="fx-layout-row fx-align-center-center">
    <div class="fx-layout-column fx-align-center-center">
        <div class="xs">STEP 1/4</div>
        <div class="fw-600">Set Up Product</div>
    </div>
</div>

<div class="p-16px"></div>



<form class="fx-layout-column" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="fx-layout-row form-row">
        <div class="fx-layout-column fx-flex m-l-8px m-r-8px m-b-24px"
            [class.error]="formGroup.get('product')!.hasError('required') && !formGroup.get('product')!.pristine">

            <label for="name" class="hl fx-layout-row">
                <div>Product</div>
                <div class="p-4px"></div>
                <div class="sm fc-p">Required</div>
            </label>

            <form-select-field [fieldControl]="formGroup.get('product')" [placeholder]="'Choose Product'"
                [options]="products$ | async">
            </form-select-field>
        </div>

        <div class="fx-layout-column fx-flex m-l-8px m-r-8px m-b-24px"
            [class.error]="formGroup.get('type')!.hasError('required') && !formGroup.get('type')!.pristine">
            <ng-container *ngIf="types$ | async as types">
                <ng-container *ngIf="types.length">
                    <label for="type" class="hl fx-layout-row">
                        <div>Type</div>
                        <div class="p-4px"></div>
                        <div class="sm fc-p">Required</div>
                    </label>

                    <form-select-field [fieldControl]="formGroup.get('type')" [placeholder]="'Choose Type'"
                        [options]="types">
                    </form-select-field>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class="fx-layout-row form-row">
        <div class="fx-layout-column fx-flex m-l-8px m-r-8px m-b-24px"
            [class.error]="formGroup.get('qty')!.hasError('required') && !formGroup.get('qty')!.pristine">
            <label for="quantity" class="hl fx-layout-row">
                <div>Quantity</div>
                <div class="p-4px"></div>
                <div class="sm fc-p">Required</div>
            </label>
            <form-number-field [decimals]="0" [fieldControl]="formGroup.get('qty')" [placeholder]="'Maximum 9,999,999'"
                [max]="9999999" [min]="0">
            </form-number-field>
        </div>

        <div class="fx-layout-column fx-flex m-l-8px m-r-8px m-b-24px"
            [class.error]="formGroup.get('type')!.hasError('required') && !formGroup.get('type')!.pristine">
            <label for="unit" class="hl fx-layout-row">
                <div>Unit</div>
                <div class="p-4px"></div>
                <div class="sm fc-p">Required</div>
            </label>
            <form-select-field [fieldControl]="formGroup.get('unit')" [placeholder]="'Choose Unit'"
                [options]="units$ | async">
            </form-select-field>
        </div>
    </div>

    <div class="p-8px"></div>

    <div class="fx-layout-row fx-align-spacebetween-center">
        <div>
            <div class="__button __button-primary" (click)="onSave()" *ngIf="hasSave$ | async">SAVE</div>
        </div>
        <div class="fx-layout-row">
            <div class="__button" (click)="onClose()">BACK</div>
            <div class="p-8px"></div>
            <button type="submit" class="__button __button-secondary"
                [class.__button-secondary-disabled]="!formGroup.valid">NEXT</button>
        </div>
    </div>

    <div class="p-8px"></div>

</form>
<!-- </ng-container> -->