<div class="p-8px"></div>
<div class="wizard">
    <a>
        <div class="__box"></div>
        <div class="__arrow"></div>
        <div class="__content">
            <div class="fx-layout-column">
                <!-- <span class="ta-c fw-600">8</span> -->
                <span class="__label ta-c fw-600 sm">For Approval</span>
            </div>
        </div>
    </a>

    <a class="__active">
        <div class="__box"></div>
        <div class="__arrow"></div>
        <div class="__content">
            <div class="fx-layout-column">
                <!-- <span class="ta-c fw-600">8</span> -->
                <span class="__label ta-c fw-600 sm">Waiting</span>
            </div>
        </div>
    </a>

    <a>
        <div class="__box"></div>
        <div class="__arrow"></div>
        <div class="__content">
            <div class="fx-layout-column">
                <!-- <span class="ta-c fw-600">8</span> -->
                <span class="__label ta-c fw-600 sm">Open</span>
            </div>
        </div>
    </a>

    <a>
        <div class="__box"></div>
        <div class="__arrow"></div>
        <div class="__content">
            <div class="fx-layout-column">
                <!-- <span class="ta-c fw-600">8</span> -->
                <span class="__label ta-c fw-600 sm">Auction Ended</span>
            </div>
        </div>
    </a>

</div>