
@import "../../../../../styles/utils.scss";
@import "../../../../../styles/form.scss";
@import "../../../../../styles/flex.scss";

:host {

  .__illustration {
    width: 128px;
    height: 128px;
    border-radius: 4px;
  }
}