@import "../../styles/utils.scss";
@import "../../styles/form.scss";
@import "../../styles/flex.scss";

:host {
    width: 100%;
    overflow-y: hidden;
    .__form-header {
        @extend .fx-layout-row;
        @extend .fx-align-spacebetween-center;
        font-weight: 600;
        font-size: 10px;
        min-height: 54px;
        border-bottom: 1px solid $color-disabled;
        padding: 0 24px;
        background-color: #ffffff;
    }
}
