@import "../../../../../styles/var.scss";
@import "../../../../../styles/flex.scss";
@import "../../../../../styles/utils.scss";

:host {
    @extend .fx-layout-column;
    padding: 16px 32px;

    .__btn {
        cursor: pointer;
        transition: all ease-in-out 250ms;
        &--dashed {
            @extend .fx-layout-row;
            @extend .fx-align-center-center;
            padding: 8px;
            border-radius: 4px;
            background-color: rgba($color-primary, 0.1);
            border: 2px dashed rgba($color-primary, 0.5);
            color: $color-primary;
            line-height: normal;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1px;
            &.disabled {
                background-color: rgba($color-disabled, 0.1);
                border: 2px dashed rgba($color-disabled, 0.5);
                pointer-events: none;
                .fc-p {
                    color: $color-disabled !important;
                }
                .__btn__icon {
                    // color: $color-disabled !important;
                    background-color: $color-disabled;
                }
            }
        }
        &__icon {
            width: 32px;
            height: 32px;
            padding: 8px;
            border-radius: 100%;
            background-color: $color-primary;
            color: $color-white;
        }

        &__icon-square {
            padding: 2px;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            background-color: $color-disabled;
            color: $color-white;
            overflow: hidden;
        }
        &:hover {
            opacity: 0.8;
        }
        &:focus {
            outline: 0;
        }
    }

    .__pill {
        @extend .fx-layout-row;
        @extend .fx-align-center-center;
        height: 32px;
        padding: 0 16px;
        margin-top: 8px;
        margin-right: 8px;
        height: 32px;
        border-radius: 4px;
        font-size: 10px;
        background-color: #f2f3f5;
        cursor: pointer;
    }

    .__button {
        @extend .fx-layout-row;
        @extend .fx-align-center-center;
        @extend .sm;
        min-width: 80px;
        height: 32px;
        padding: 0 16px;
        background-color: #f2f3f5;
        cursor: pointer;
        border-radius: 4px;
        outline: none;
        border: none;
        transition: all ease-in-out 250ms;
        &-primary {
            background-color: $color-primary;
            color: #ffffff;
        }
        &-outlined {
            background-color: $color-white;
            border: 1px solid $color-primary;
            color: $color-primary;
            &-disabled {
                color: $color-disabled;
                border: 1px solid $color-disabled;
                background-color: $color-white;
                pointer-events: none;
            }
        }
        &-secondary {
            color: $color-primary;
            &-disabled {
                background-color: $color-disabled;
                color: white;
                pointer-events: none;
            }
        }
        &-disabled {
            background-color: $color-disabled;
            pointer-events: none;
            color: white;
        }
        &-success {
            background-color: #f2f3f5;
            color: $color-success;
            pointer-events: none;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}
