<div class="__backdrop" [routerLink]="['../']"></div>
<div class="__modal">

    <div class="__modal__header">
        <div class="fx-flex">
            <div class="fw-600">Filters</div>
        </div>
        <div class="fx-layout-row m-r--16px">
            <button class="__button __button-primary" (click)="onApply()">APPLY</button>
            <div class="p-4px"></div>
            <div class="__modal__close" [routerLink]="['../']" queryParamsHandling="merge">
                <i-feather class="icon" name="x"></i-feather>
            </div>
        </div>
    </div>
    <form class="__modal__content" [formGroup]="formGroup">

        <div class="fx-layout-row">
            <div class="fx-flex fx-layout-column m-b-12px">
                <label for="from" class="sm"
                    [class.fc-error]="formGroup.get('from')!.hasError('required') && !formGroup.get('from')!.pristine">From</label>
                <form-date-field [fieldControl]="formGroup.get('from')" [placeholder]="'MM/DD/YYYY'"
                    [endDate]="'today'">
                </form-date-field>
            </div>
            <div class="p-4px"></div>
            <div class="fx-flex fx-layout-column m-b-12px">
                <label for="to" class="sm"
                    [class.fc-error]="formGroup.get('to')!.hasError('required') && !formGroup.get('to')!.pristine">To</label>
                <form-date-field [fieldControl]="formGroup.get('to')" [placeholder]="'MM/DD/YYYY'" [endDate]="'today'">
                </form-date-field>
            </div>
        </div>
        <div class="p-8px"></div>
        <div class="fx-layout-column fx-align-start-start fx-flex m-b-24px">
            <label class="sm">Status</label>
            <form-chips-field [fieldControl]="formGroup.get('status')" [options]="statuses"></form-chips-field>
        </div>

        <div class="p-8px"></div>
    </form>
</div>