<div class="__backdrop"></div>
<div class="__modal">
    <div class="__modal__header">
        <div class="fx-flex">
            <div class="fw-600">Select Commodity</div>
        </div>
        <div class="fx-layout-row m-r--16px">
            <button class="__button __button-primary" (click)="onDone()">Done</button>
            <!-- <div class="p-8px"></div>
            <div class="__modal__button-icon" (click)="onClose()">
                <i-feather class="icon" name="x"></i-feather>
            </div> -->
        </div>

    </div>
    <div class="__modal__content">
        <form class="fx-layout-column" [formGroup]="formGroup">
            <input formControlName="filter" autocomplete="off" class="__form-input" id="filter" type="text"
                placeholder="Search">
        </form>
        <div class="p-4px"></div>
        <ng-container *ngFor="let item of filtered$ | async">
            <div class="__list" [class.__list--selected]="item.selected" (click)="onToggle(item)">
                <div>{{item.name}}</div>
                <i-feather class="__icon" [class.__icon--selected]="item.selected" name="check"></i-feather>
            </div>
        </ng-container>
        <div class="p-16px"></div>
    </div>
</div>