@import "../../../../styles/utils.scss";
@import "../../../../styles/form.scss";
@import "../../../../styles/flex.scss";

:host {

    font-family: "Avenir", sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    .__backdrop {
        width: 100%;
        height: 100%;
        background-color: rgba(9, 30, 66, 0.54);
        cursor: pointer;
        transition: all 250ms ease-in-out 1000ms;
        position: fixed;
    }

    .__modal {
        @extend .fx-layout-column;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 500px;
        min-height: 250px;
        background-color: #ffffff;
        border-radius: 5px;
        &__header {
            @extend .fx-layout-row;
            @extend .fx-align-spacebetween-center;
            padding: 0 32px;
            min-height: 70px;
        }
        &__content {
            @extend .fx-layout-column;
        }
        &__button {
            &-icon {
                @extend .fx-layout-row;
                @extend .fx-align-center-center;
                height: 32px;
                width: 32px;
                border-radius: 2px;
                transition: all 250ms ease-out;
                background-color: #f2f3f5;
                cursor: pointer;
                &:hover {
                    background-color: rgba(9, 30, 66, 0.1);
                }
            }
            &-flat {
                @extend .fx-layout-row;
                @extend .fx-align-center-center;
                height: 32px;
                padding: 0 16px;
            }
        }
    }

    
}
